Source: mtcadummy-dkms
Section: contrib/kernel
Priority: optional
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: debhelper (>= 9), dkms
Standards-Version: 3.9.7

Package: mtcadummy-dkms
Architecture: all
Depends: ${misc:Depends}, dkms
Description: mtcadummy kernel module 
 A module which does not access PCIe, but mimics devices compatible to
 picedev and llrfuni.
 .
 This package contains the dkms sources. When installed, it will build
 the module for your kernel.
